* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(213, 206, 221);
}

.container {
  width: 90%;
  height: 90vh;
  margin: 20px auto;
  padding: 5px;
  background-color: rgb(115, 92, 137);
}

h1 {
  color: rgb(235, 151, 151);
  text-decoration: underline;
  text-align: center;
}
/*------------------------------ BEGINNING OF NAV SECTION ------------------------------*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(249, 249, 249);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 1s linear;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #962ae9;
}
/*------------------------------ ENDING OF NAV SECTION ------------------------------*/

.start-button-div {
  width: 25%;
  margin: 10px auto;
}

.start-button {
  display: block;
  width: 50%;
  background-color: rgb(211, 163, 243);
  color: rgb(120, 42, 42);
  padding: 10px;
  border-radius: 50%;
  margin: auto;
}
/*-----------------------------------------------------------------------------------*/
.footer-logo {
  color: white;
  text-align: center;
}
/* -----------------------------------------------------------------------------------*/
